body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--light);
    line-height: 1.5;
    background-image: url("https://dl3.pushbulletusercontent.com/cZBHYFT56nLLZIontSXBKhKqi7hbNnBT/background.png");
    background-size: 100%;
    background-attachment: fixed;
}

p {
    margin: 0;
    font-size: 1.5rem;
}

/* This is my navbar */
.nav-link, .navbar-brand {
    font-size: 20px;
    color: rgb(233, 233, 233)
}

.photo-of-me {
    width: 60%;
    height: 90%;
}

/* This is my photo and text */

header {
    margin-top: 5%;
}

/* This is my main section */

main {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    border-top: 4px solid;
  }
  
article {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

article > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 2rem;
    line-height: 1.1;
}

article > div {
    flex: 0 0 77%;
}

article p {
    margin-bottom: 20px;
}

/* Changes carousel indicator color */
.carousel-indicators {
    filter: invert(100%);
}

.carousel-control-prev-icon {
    filter: invert(100%);
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-caption {
    background-color: rgba(233, 233, 233, 0.863);
    color: rgb(19, 19, 19);
}

/* This begins my contact section */

footer {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

footer > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 2rem;
    line-height: 1.1;
}

footer > div {
    flex: 0 0 77%;
}

.contact {
    border-top: 4px solid;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    }

.contact address a {
    color: var(--light);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}

.contact address a:hover {
    background-size: 100% 88%;
    text-decoration: underline;
}

/* portfolio project images */
.responsive {
    background-image: url("../images/responsive-web-design.png");
}

.snippet {
    background-image: url("../images/css-snippet.png");
}

.blog {
    background-image: url("../images/css-blog.png");
}

.styling {
    background-image: url("../images/box-styling.png");
}

.horiseon {
    background-image: url("../images/horiseon.png");
}

/* end portfolio project images */

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    article > h2,
    article > div {
        flex: 0 0 100%;
    }

    article > h2 {
        border-right: none;
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 1.5rem;
    }

    footer > h2,
    footer > div {
        flex: 0 0 100%;
    }

    footer > h2 {
        border-right: none;
        
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    article > h2 {
        font-size: 1.5rem;
    }

    .contact address {
        flex-direction: column;
        align-items: flex-start;
    }
}